* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/fundo/backgroundHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 34px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 27px;
}

header a {
    font-family: "Open Sans", sans-serif;
    color: #1f0a3d;
    font-size: 15px;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    gap: 1079px;
}

button {
    transition: 0.1s;
}

button:hover {
    scale: 1.1;
}

button:active {
    scale: 0.95;
}


/* HEADER */

.header-logo {
    font-size: 35px;
}

.header-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-button-container a {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: #ffeded;
    color: #e870c2;
    font-size: 20px;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button-container a::before {
    border-radius: 50%;
}

.header-button-container a:hover {
    scale: 1.1;
}

.header-button-container a:active {
    scale: 0.95;
}




/* MAIN BOX 1*/

.main-box1 {
    display: flex;
    height: 544px;
}

.main-box1 .gradientBorderLP {
    width: 542px;
    height: 309px;
    border-radius: 63px;
    margin-left: 612px;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 63px 50px 0px 88px;
} 

.main-box1 .gradientBorderLP::before {
    border-radius: 63px;
    border-width: 6px;
}

.main-box1 p {
    color: #1f0a3d;
    font-size: 19px;
}

.main-box1-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-box1-button-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    z-index: 2;
}

.main-box1 button {
    padding: 10px 20px;
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
    font-size: 20px;
}

.main-box1 button img {
    width: 19px;
}


/* MAIN BOX 2*/

.main-box2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 1228px;
}

.main-box2-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 54px;
    margin-top: 67px;
    margin-bottom: 25px;
}

.main-box2-title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.main-box2-icon-container {
    display: flex;
    background: linear-gradient(90deg, #e870c2, #5c6ff4);
    width: 30px;
    height: 30px;
    padding: 16px;
    border-radius: 10px;
    justify-content: center;
}

.main-box2-icon-container img {
    width: 26px;
}

.main-box2-title-button button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 10px 33px;
    border-radius: 11px;
}

.main-box2-title-button button::before {
    border-radius: 11px;
}

/*CARD*/

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gameCard {
    width: 377px;
    height: 386px;
    background-color: #fcffff;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    transition: 0.1s;
}

.gameCard:hover {
    scale: 1.05;
}

.banner {
    align-self: center;
    margin-top: 7px;
}

.banner img {
    width: 360px;
    height: 172px;
    border-radius: 20px 20px 0 0;
}

.gameCard-content-container {
    background-color: #e8f8f8;
    border-radius: 0px 0px 20px 20px;
    align-self: center;
    width: 360px;
    height: 100%;
    margin-bottom: 7px;
}

.gameCard-content {
    margin: 14px 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.gameCard-tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gameCard-tag {
    font-size: 11px;
    color: #fcffff;
    padding: 1px 8px;
    background: linear-gradient(90deg, #ff8904, #fdc700);
    width: fit-content;
    border-radius: 10px;
}

.gameCard-tags-container span {
    font-size: 9px;
    justify-self: flex-end;
}

.gameCard-text h6 {
    font-size: 15px;
}

.gameCard-text p {
    font-size: 11px;
    color: #1f0a3d;
}

.gameCard-info-container {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #524664;
    margin-top: 20px;
}

.gameCard-info-container div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.gameCard-info-container img {
    width: 14px;
}

.gameCard-info-container button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.gameCard-play {
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
}

.gameCard-play:hover {
    scale: 1.07;
}

.gameCard-play:active {
    scale: 0.9;
}

/* FOOTER*/

footer {
    height: 270px;
}




.fullColorLP {
    font-family: "Poppins", sans-serif;
    color: #fcffff;
    border: none;
    background: linear-gradient(90deg, #e870c2, #5c6ff4);
}

.gradientBorderLP {
    font-family: "Poppins", sans-serif;
    background-color: #fcffff;
    position: relative;
    border: none;
}

.gradientBorderLP::before {
    content: "";
    position: absolute;
    inset: 0;
    border: solid 3px transparent;
    background: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb) border-box;
    color: #1f0a3d;
    mask: 
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude; 
}

.gradientFont {
    background-image: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb);
    background-clip: text;
    color: transparent;
}

.logo {
    font-family: "Marhey", sans-serif;
}