* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/src/main/resources/static/assets/fundo/backgroundLanding.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 34px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 27px;
}

header a {
    font-family: "Open Sans", sans-serif;
    color: #1f0a3d;
    font-size: 15px;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    gap: 768px;
}

button {
    transition: 0.1s;
}

button:hover {
    scale: 1.1;
}

button:active {
    scale: 0.95;
}

/* HEADER */

.header-logo {
    font-size: 35px;
}

.header-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.header-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-button-full{
    font-size: 13px;
    border-radius: 13px;
    padding: 0px 17px;
    height: 48px;
}

.header-button-gradientBorder {
    font-size: 15px;
    color: #1f0a3d;
    padding: 0px 17px;
    border-radius: 13px;
    height: 48px;
}

.header-button-gradientBorder::before {
    border-radius: 13px;
}

/* MAIN BOX 1 */

.main-box1 {
    margin-top: 88px;
    margin-left: 93px;
    width: 641px;
    height: 497px;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.main-box1-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-box1-text h1 {
    width: 500px;
}

.main-box1-text p {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: #1f0a3d;
    width: 703px;
}

.main-box1-button-container {
    display: flex;
    flex-direction: row;
    gap: 42px;
    margin-left: 103px;
}

.main-box1-button-container button {
    font-size: 17px;
    border-radius: 21px;
    padding: 17px;
}

.main-box1-button-container .gradientBorderLP::before {
    border-radius: 21px;
}

/* MAIN BOX 2 */

.main-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}

.slider-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fcffff;
    border-radius: 28px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 0px 20px rgb(31, 10, 61, 0.25);
    transition: 0.15s;
}

.slider-card:hover {
    scale: 1.05;
}

.slider-card span {
    color: #0d0020;
}

.slider-card p {
    color: #524664;
}



.sides {
    width: 325px;
    height: 230px;
    gap: 33px;
    padding-left: 31px;
}

.sides span {
    font-size: 16px;
}

.sides p {
    font-size: 12px;
}

.sides img { 
    width: 65px;
}

.sides .slider-card-text {
    display: flex;
    flex-direction: column;
    width: 293px;
    gap: 10px;
}



.middle {
    width: 494px;
    height: 350px;
    gap: 50px;
    padding-left: 44px;
}

.middle span {
    font-size: 29px;
}

.middle p {
    font-size: 18px;
}

.middle img {
    width: 93px;
}

.middle .slider-card-text {
    display: flex;
    flex-direction: column;
    width: 461px;
    gap: 18px;
}

.slider-arrows {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 96vw;
    justify-content: space-between;
    pointer-events: none;
}

.slider-arrows button {
    width: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(232, 112, 194, 0.38), rgb(92, 111, 244, 0.38));
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    transition: 0.15s;
}

.slider-arrows img {
    width: 40px;
}

.slider-arrows button:hover {
    scale: 1.1;
}

.slider-arrows button:active {
    scale: 0.9;
}


/* MAIN BOX 3 */

.main-box3 {
    margin-top: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.cards-row {
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.gamesCard {
    width: 325px;
    height: 205px;
    padding-left: 31px;
    padding-top: 25px;
    justify-content: flex-start;
    gap: 30px;
}

.gamesCard img{
    width: fit-content;
}

.gamesCard .slider-card-text {
    width: 293px;
}

.gamesCard p {
    font-size: 13px;
}



/* .sides {
    width: 325px;
    height: 230px;
    gap: 33px;
    padding-left: 31px;
}

.sides span {
    font-size: 16px;
}

.sides p {
    font-size: 12px;
}

.sides img { 
    width: 65px;
}

.sides .slider-card-text {
    display: flex;
    flex-direction: column;
    width: 293px;
    gap: 10px;
} */








/* MAIN BOX 4 */

.main-box4 {
    margin-top: 230px;
    margin-left: 125px;
    width: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.main-box4 .logo {
    font-size: 70px;
    margin-left: 106px;
}

.main-box4 button {
    font-size: 17px;
    border-radius: 21px;
    padding: 17px;
}

.main-box4 .gradientBorderLP::before {
    border-radius: 21px;
}

.main-box4-buttons {
    display: flex;
    gap: 40px;
}

footer {
    height: 281px;
    margin-top: 161px;
}





/* 
    --color-red-400: #ff6467;
    --color-orange-400: #ff8903;
    --color-yellow-400: #fdc700;
    --color-lime-400: #9ae600;
    --color-green-400: #06df72;
    --color-emerald-400: #00d492;
    --color-teal-400: #00d5bd;
    --color-cyan-400: #00d3f2;
    --color-blue-400: #51a2ff;
    --color-indigo-400: #7c86ff;
    --color-purple-400: #c27aff;
    --color-pink-400: #fb64b6;
    --color-rose-400: #ff637e; */






/* CLASSES MULTIUSO */
.fullColorLP {
    font-family: "Poppins", sans-serif;
    color: #fcffff;
    border: none;
    background: linear-gradient(90deg, #e870c2, #5c6ff4);
}

.gradientBorderLP {
    font-family: "Poppins", sans-serif;
    background-color: #fcffff;
    position: relative;
    border: none;
}

.gradientBorderLP::before {
    content: "";
    position: absolute;
    inset: 0;
    border: solid 3px transparent;
    background: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb) border-box;
    color: #1f0a3d;
    mask: /*4*/
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude; /*5*/
}



.logo {
    font-family: "Marhey", sans-serif;
}

.gradientFont {
    background-image: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb);
    background-clip: text;
    color: transparent;
}

