* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/fundo/backgoundCadastro.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 34px;
}

header {
    display: flex;
    align-items: center;
    height: 75px;
}

button, a {
    transition: 0.1s;
}

button:hover, a:hover {
    scale: 1.1;
}

button:active, a:active {
    scale: 0.95;
}

/* HEADER */

header a {
    font-family: "Open Sans", sans-serif;
    color: #1f0a3d;
    font-size: 15px;
    text-decoration: none;
    padding: 6px 18px;
    display: flex;
    gap: 23px;
    border-radius: 8px;
    margin-left: 30px;
}

header a::before {
    border-radius: 8px;
}

header a img {
    width: 10px;
}

/*FORM*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    margin-top: 30px;
    width: 1080px;
    height: 473px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 112px;
}

.form-container::before {
    border-radius: 20px;
}

.form-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 434px;
    margin-top: 20px;
    margin-left: 36px;
}

.form-infos-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 9px;
    margin-top: 25px;
}

.form-infos img {
    margin-right: 4px;
    margin-top: 30px;
}

form {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
}

input {
    border: solid 3px #cdabff;
    border-radius: 8px;
    height: 30px;
    width: 381px;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
}


.form-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-button-container button {
    font-size: 18px;
    width: fit-content;
    padding: 6px 41px;
    border-radius: 10px;
}

.form-button-container span, a {
    color: #a98bd9;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}





/* CLASSES MULTIUSO */
.fullColorLP {
    font-family: "Poppins", sans-serif;
    color: #fcffff;
    border: none;
    background: linear-gradient(90deg, #e870c2, #5c6ff4);
}

.gradientBorderLP {
    font-family: "Poppins", sans-serif;
    background-color: #fcffff;
    position: relative;
    border: none;
}

.gradientBorderLP::before {
    content: "";
    position: absolute;
    inset: 0;
    border: solid 3px transparent;
    background: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb) border-box;
    color: #1f0a3d;
    mask:
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.logo {
    font-family: "Marhey", sans-serif;
}

.gradientFont {
    background-image: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb);
    background-clip: text;
    color: transparent;
}