* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/fundo/backgoundCadastro.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 34px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #0d0020;
    font-size: 27px;
}

header a {
    font-family: "Open Sans", sans-serif;
    color: #1f0a3d;
    font-size: 15px;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    gap: 1079px;
}

button {
    transition: 0.1s;
}

button:hover {
    scale: 1.1;
}

button:active {
    scale: 0.95;
}

/* HEADER */

.header-logo {
    font-size: 35px;
}

.header-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-button-container a {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: #ffeded;
    color: #e870c2;
    font-size: 20px;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button-container a::before {
    border-radius: 50%;
}

.header-button-container a:hover {
    scale: 1.1;
}

.header-button-container a:active {
    scale: 0.95;
}

footer {
    height: 270px;
}




.fullColorLP {
    font-family: "Poppins", sans-serif;
    color: #fcffff;
    border: none;
    background: linear-gradient(90deg, #e870c2, #5c6ff4);
}

.gradientBorderLP {
    font-family: "Poppins", sans-serif;
    background-color: #fcffff;
    position: relative;
    border: none;
}

.gradientBorderLP::before {
    content: "";
    position: absolute;
    inset: 0;
    border: solid 3px transparent;
    background: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb) border-box;
    color: #1f0a3d;
    mask: 
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude; 
}



.logo {
    font-family: "Marhey", sans-serif;
}

.gradientFont {
    background-image: linear-gradient(45deg, #f95bf6, #532cf9, #03f7eb);
    background-clip: text;
    color: transparent;
}