<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/landingPage.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Avante</title>
</head>
<body>
<header>
    <div>
        <span class="header-logo logo gradientFont">Avante</span>
    </div>
    <div class="header-links-container">
        <a th:href="@{/home}">Sobre nós</a>
        <div class="header-buttons-container">
            <button class="header-button-full fullColorLP" th:onclick="|window.location.href='@{/cadastro}'|">Cadastrar</button>
            <button class="header-button-gradientBorder gradientBorderLP" th:onclick="|window.location.href='@{/login}'|">Entrar</button>
        </div>
    </div>
</header>
<main>
    <div class="main-box1">
        <div class="main-box1-text">
            <h1>Ajude seus alunos a aprender do jeito mais fácil: <span class="gradientFont">Se divertindo</span></h1>
            <p>Uma ferramenta que permite o uso de jogos educativos em sala de aula com apenas um computador</p>
        </div>
        <div class="main-box1-button-container">
            <button class="main-box1-button-full fullColorLP" th:onclick="|window.location.href='@{/cadastro}'|">Começar agora</button>
            <button class="gradientBorderLP" th:onclick="|window.location.href='@{/login}'|">Já tenho conta</button>
        </div>
    </div>
    <div class="main-box2">
        <div>
            <h2>Por que usar o Avante?</h2>
        </div>
        <div class="slider-container" id="slider-container">
            <div class="slider-arrows">
                <div>
                    <button class="left-arrow" onclick="slideLeft()"><img th:src="@{/assets/icons/mainBox2Cards/setaIconesquerda.svg}" alt=""></button>
                </div>
                <div>
                    <button class="right-arrow" onclick="slideRight()"><img th:src="@{/assets/icons/mainBox2Cards/setaIcondireita.svg}" alt=""></button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-box3">
        <div>
            <h2>Uma variedade de tipos de jogos disponíveis!</h2>
        </div>
        <div class="cards-container">
            <div class="cards-row">
                <div class="slider-card gamesCard">
                    <div>
                        <img th:src="@{/assets/icons/mainBox3Cards/gincanaIcon.svg}" alt="">
                    </div>
                    <div class="slider-card-text">
                        <p>Aprendendo com velocidade! ao invés de turnos, as perguntas são respondidas pela equipe mais rápida, estimulando a pensar sobre pressão.</p>
                    </div>
                </div>
                <div class="slider-card gamesCard">
                    <div>
                        <img th:src="@{/assets/icons/mainBox3Cards/forcaIcon.svg}" alt="">
                    </div>
                    <div class="slider-card-text">
                        <p>Ideal para associar termos com conceitos de maneira rápida.</p>
                    </div>
                </div>
                <div class="slider-card gamesCard">
                    <div>
                        <img th:src="@{/assets/icons/mainBox3Cards/versusIcon.svg}" alt="">
                    </div>
                    <div class="slider-card-text">
                        <p>Competição em turnos para saber qual equipe consegue mais pontos, com algumas surpresas no meio.</p>
                    </div>
                </div>
            </div>
            <div class="cards-row">
                <div class="slider-card gamesCard">
                    <div>
                        <img th:src="@{/assets/icons/mainBox3Cards/memoriaIcon.svg}" alt="">
                    </div>
                    <div class="slider-card-text">
                        <p>Ideal para recapitular livros, onde as equipes tentam acertar qual o próximo evento da história em turnos.</p>
                    </div>
                </div>
                <div class="slider-card gamesCard">
                    <div>
                        <img th:src="@{/assets/icons/mainBox3Cards/detetiveIcon.svg}" alt="">
                    </div>
                    <div class="slider-card-text">
                        <p>Adivinhando os conceitos através de pistas aleatórias ao longo do jogo.</p>
                    </div>
                </div>
                <div class="slider-card gamesCard">
                    <div>
                        <img th:src="@{/assets/icons/mainBox3Cards/poderesIcon.svg}" alt="">
                    </div>
                    <div class="slider-card-text">
                        <p>Estilo gincana, porém as equipes podem gastar seus pontos com poderes que os ajudam durante o jogo, ensinando a gerenciar seus recursos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-box4">
        <div>
            <span class="logo gradientFont">Avante</span>
            <h2>Pronto para ensinar com diversão?</h2>
        </div>
        <div class="main-box4-buttons">
            <button class="fullColorLP" th:onclick="|window.location.href='@{/cadastro}'|">Começar agora</button>
            <button class="gradientBorderLP" th:onclick="|window.location.href='@{/login}'|">Já tenho conta</button>
        </div>

    </div>
</main>
<footer>

</footer>
<script th:src="@{/js/landingPage.js}"></script>
</body>
</html>